@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Raleway, system-ui, sans-serif;
  color: #1d1f22;
  background: #ffffff;
}

body {
  margin: 0;
  min-width: 320px;
}

* {
  box-sizing: border-box;
}
